
<h2>State Management</h2>
<hr/>

<h4>Client Side State Management</h4>
<br/>
<a href="/statemgmt/localstorage">Local storage</a> |
<a href="/statemgmt/sessionstorage">Session storage</a> |
<a href="/statemgmt/login">Login</a>

<h4>Server Side State Management</h4>

<br/>
<a href="/shoppingcart/tempdata">TempData</a> |
<a href="/shoppingcart/session">Session</a> 
 
