
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    Product Details
    <ul>
        <li>Product Name: Mobile</li>
        <li>Product Brand: Samsung</li> 
        <li>Product Price: 10000</li>
        <li>Product Description: Mobile with 4GB RAM and 64GB Storage</li>
        <li>Product Category: Electronics</li>

    </ul>
    <a asp-action="Index">Back to List</a>

</div>