
@{
    ViewData["Title"] = "Index";
}

<h1>Today Products for sale</h1>
<hr/>
<ol>
    <li>Mobiles</li>
    <li>Laptops</li>    
    <li>TVs</li>
    <li>Washing Machines</li>
    <li>Refrigerators</li>
    <li>ACs</li>
    <li>Cameras</li>
    <li>Home Theaters</li>
    <li>Speakers</li>
    <li>Headphones</li>
    <li>Printers</li>
    <li>Monitors</li>
    <li>Projectors</li>
</ol>


