@using BOL;

<!--Presntable logic for Depatment Details -->
<h1>Transflower</h1>
<hr/>
<h3>Department Details</h3>
<p>Output generated due to server side Razor Rendering</p>
<div>
    @{
        //Sever Side Data Binding is resoved by Razor View Engine
        //Extract data from ViewBag
        Department dept = ViewBag.selectedDepartment;

        <p> Department Id:<b>@dept.Id</b></p>
        <p> Name:<u>@dept.Name</u></p>
        <p> Location:<b><u>@dept.Location</u></b></p>
    }
</div>

<hr/>
<!------------------------------------------------------>

<h2> Client Side</h2>
<h3> List of Trainers</h3>
<hr/>

<button id="btnnewTrainerclick">Insert New Trainer</button>
<button id="btnFetchTrainerclick">Fetch Trainers List</button>

<!--Bulleted List-->
<ul id="trainerslist"></ul>

<a href="/departments/update/@dept.Id">Update</a> | <a href="/departments/delete/@dept.Id">Delete</a> 
<script>
    console.log("java script is being interpreted");
    $(document).ready(function(){
        console.log(" document object is ready");

     $("#btnnewTrainerclick").click(function(){
                            console.log("new trainer is clicked...");
                            //Posting data u;sing $.ajax 
                            var newTrainer={"firstName":"Sarika",
                                             "lastName":"Kulkarni",
                                            "email":"sarika.kulkarni@transflower.in"}
                            
                            $.ajax({
                                url: "http://localhost:5248/departments/InsertTrainer",
                                type: "POST",
                                data: newTrainer,
                                    success: function (data) {
                                            console.log("new trainer is posted to rest api successfully");
                                    },
                                    error: function (e) {console.log("could not connect to service"); }
                            });   
     });

     $("#btnFetchTrainerclick").click(()=>{   
           /*  $.get("http://localhost:5248/departments/trainers",
                       (data)=>{console.log("Data: " + data);});
                             //1. A way to Access REST API Asynchronously using Ajax
                          console.log("fetch Trainer Button is clicked...");

            */

            $.ajax({
                    url: "http://localhost:5248/departments/trainers",
                    success: (data)=> {
                        //DOM Manipulation
                        $('#trainerslist').empty()
                            for( var i=0;i<=data.length;i++){
                                var fullName=data[i].firstName + " "+ data[i].lastName;
                                $("#trainerslist").append($("<li>").text(fullName));
                        }        
                    },    
                error: (e)=> {console.log("could not connect to service"); }
            })   
        
        
        
                        
                        
                        
                        //2.Another way to Access REST API Asynchronously using fetch 
                        /*
                       */
           });
    });
</script>