@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{

    string receivedCity = (string)TempData["city"];
      <p> City:  @receivedCity</p>
}
<a href="/home/services">Services</a>