@{
    ViewData["Title"] = "Home Page";
}


<!-- Razor view  -->
<!-- Presentation -->
<!--  HTML, CSS , JS , C#  --->

<!---Razor Syntax  --->

@{
    int count=45;
    count ++;
    if(count !=200){

    }
    else{

    }
    //h3-----> html element
    //count---> data 
    // data binding
    <h3> Result= @count</h3>

}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
