
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr/>
<table>
    <tr>
        <td>
            <form action="\auth\login" method="post">
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" name="username" /></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" name="password" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Login" /></td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <a href="\auth\register">Register new User</a>
        </td>
    </tr>
</table>