@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="mb-4">Dashboard</h2>

<!--  html helper functions    -->
<!--  extension methods  ----->
<!--  html extension library for View Engine -->


<div class="row">
    <div class="col-md-6">
        @Html.Partial("linechart")
    </div>

    <div class="col-md-6">
        @Html.Partial("barchart")
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        @Html.Partial("piechart")
    </div>
</div>
