@{
    ViewData["Title"] = "About us Page";
}

<div>

   <h1> @ViewData["company"]</h1>
   <h3>Ravi Tambade</h3>
   <hr/>

   <p>List of Corporate Training locations</p>
    <hr/>
   <table>
       <tr>
            <td>
                <h2>CDAC Presence</h2>
                @Html.Partial("cdac");
            </td>

            <td>
                <h2>Corporate Presence</h2>
                @Html.Partial("corporate");
            </td>

       </tr>
   </table>
    

</div>
