
<h2>Retriving Data from all ways from Action method</h2>
<ol>
    <li>ViewData</li>
    <li>ViewBag</li>
    <li>TempData</li>
</ol>

@{
    //Write code to retrive data from all ways

    ///
    ///
    ///

}