@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Product Details</h2>

@{
    Product product = (Product)ViewData["product"];
    <p>Product Id:@product.Id</p>
    <p>Name:@product.Name</p>
    <p>Unit Price:@product.Price</p>

}
<a href="/products/update/@product.Id">Update</a> | <a href="/products/remove/@product.Id">Remove</a> 