@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <p>601, Rama Apartment</p>
    <p>Walvekar Nagar, Pune Satara Road</p>
    <p>Parvati, Pune 411009</p>
    <br/>
    <p>Email: ravi.tambade@transflower.in</p>
    <p>Contact Number:9881735801</p>
    
</div>