@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Transflower Learning Pvt. Ltd</p>
<p>Email: ravi.tambade@transflower.in</p>
<p>Phone: +91 9876543210</p>
<p>Address: 123 Learning St, Knowledge City, Country</p>
<p>We look forward to hearing from you!</p>

