@page
@model BlogRazorApp.Pages.AboutusModel
@{
}


<h1>About us</h1>
<hr />

<img src="images/tfl.jpg" width="100" height="100"/>
<h3> <u>Transflower</u></h3>
<p> Mentor: Ravi Tambade</p>
<p>Company: Transflower Learning Pvt. Ltd.</p>
<ol>
    <li>Mentoring</li>
    <li>Training</li>
    <li>Online Workshop</li>
</ol>

