@page
@model BlogRazorApp.Pages.blogModel
@{
}

 <style>
        
        .post {
            margin-bottom: 40px;
        }
        .post h2 {
            margin-top: 0;
        }
        .post p {
            line-height: 1.6;
        }
    </style>
 
 
<div class="container">

    <div class="post">
        <h2>Why Indian students are less employable</h2>
        <p>This is the content of the first blog post. You can write anything here.</p>
    </div>

    <div class="post">
        <h2>Transflower Acceleration Program</h2>
        <p>This is one of the best initiative for improving employablility of students using project based learning approach</p>
    </div>

     <div class="post">
        <h2>Transflower Acceleration Program</h2>
        <p>This is one of the best initiative for improving employablility of students using project based learning approach</p>
    </div>


     <div class="post">
        <h2>Transflower Acceleration Program</h2>
        <p>This is one of the best initiative for improving employablility of students using project based learning approach</p>
    </div>


     <div class="post">
        <h2>Transflower Acceleration Program</h2>
        <p>This is one of the best initiative for improving employablility of students using project based learning approach</p>
    </div>


    <!-- Add more posts here -->

</div>

