@{
    ViewData["Title"] = "Products Gallery Page";
}

<h1>Catalog</h1>
<hr/>
<div class="text-center">
    @{
        List<Product> allProducts=(List<Product>)ViewData["catalog"]; 
        <ol>
            @foreach(Product flower in allProducts){
                <li>@flower.Title</li>
            }
        </ol>
    } 
    <hr/>
</div>