



<form action="/home/register" method="post">


    <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text"  required class="form-control" id="firstname" name="firstname">
    </div>
     <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" required  class="form-control" id="lastname" name="lastname">
    </div>

    <div class="form-group">
        <label for="contactnumber">Contact Number:</label>
        <input type="text" required class="form-control" id="contactnumber" name="contactnumber">
    </div>
   <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" required class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" required class="form-control" id="pwd" name="password">
    </div>
  
    <button type="submit" class="btn btn-default btn-success">Register</button>
</form>
