@using BOL;
@{
    ViewData["Title"] = "Index Page";
}

<!-- Dynamic Presentable  Content-->
<!-- defined using Razor Syntax-->
<!-- Razor syntax is processed by  Razor View Engine at server Side-->

<div>
    <h2>List of  Departments at Transflower</h2>
    @{
        List<Department> allDepartments = ViewData["departments"] as List<Department>;
        <ol>
            @foreach( Department dept in allDepartments){
                <li> <a href="/departments/details/@dept.Id">@dept.Name</a></li>
            }    
        </ol>    
    }
</div>
<a href="/departments/insert/">New  Department</a> 


<p id="para">  Hello from Training</p>
<hr/>

<button onclick="onPushMe()">Push me</button>
<button id="btnclick">Click me</button>

<script>
    //java script
    //alert("Hello from Javascript");

    function onPushMe(){
        //1.--Classical DOM manipulation using Basic HTML & Javascript programming
        var para=document.getElementById("para");
        para.innerHTML="Thank you for visiting Classroom";

        //2. DOM manipulation using jQuery Selectors
        console.log("Button is clicked....");
        var htmlElement=$("#para").val("Content changes using jQuery");
    }
















    $(document).ready(function(){
            $("#btnclick").click(function(){
                             $("#para").html("Button is clicked using jQuery");
            });
    });
</script>