@page
@model PrivacyModel
@{
    //C# Syntax
    ViewData["Title"] = "Privacy Policy";
}

<!-- data binding --->
<!-- Each cshtml (Razor view ) is processed at runtime by Razor View Engine --->
<h1>@ViewData["Title"]</h1>
<p>Use this page to detail your site's privacy policy.</p>

