@{
    ViewData["Title"] = "About us Page";
}

<div class="text-center">
    <h1>Transflower Learning Pvt. Ltd.</h1>
    <hr/>
    <p>Mentor as a Service</p>
    <p>Doing ordinary things extra ordinarily</p>
</div>