
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<a href="https://www.vijaysales.com/contact-us">Contact Us</a>
<p>If you have any questions or need assistance, please feel free to contact us. You can reach us by phone, email, or visit one of our stores. Our team is here to help you with anything you need and ensure that you have a pleasant shopping experience with Vijay Sales.</p>
<p>Email: ravi.tambade@vijasales.com</p>
<p>Phone: 1800-123-4567</p>
<p>Address: 123 Main Street, Pune, Maharashtra, India</p>


