
@{
    ViewData["Title"] = "Services";
}

<h1>Services</h1>

<h3>Vijay sales Services</h3>
<hr/>
<ol>
        <li>Free Shipping</li>
        <li>Easy Returns</li>
        <li>Secure Payments</li>
        <li>24/7 Customer Support</li>
        <li>Installation Services</li>
        <li>Extended Warranty</li>
</ol>