@page
@model PrivacyModel
@{
    ViewData["Title"] = "About us ";
}
<h1>@ViewData["Title"]</h1>

<p>Transflower Learning Pvt. Ltd</p>
<p>is a leading educational technology company dedicated to providing high-quality online learning experiences. Our mission is to empower individuals and organizations with the knowledge and skills they need to succeed in today's rapidly evolving world.</p>
