@{
    ViewData["Title"] = "About us Page";
}

<div>
    <h1>List of Corporate Training locations</h1>
    <hr/>+
    <div>
        <h2>CDAC Presence</h2>
         @Html.Partial("cdac");
    </div>
    <hr/>
    <div>
        <h2>Corporate Presence</h2>
          @Html.Partial("corporate");
    </div>

</div>
