
<h1>Dashboard Details</h1>
<hr/>

<label id="lblHello">Good Morning</label>
<button id="btnPush"> click here</button>

<canvas id="myChart" style="width:100%;max-width:700px"></canvas>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        console.log("DOM is ready");
        $("#btnPush").click(() => {
            //console.log("button is clicked....");

            $.ajax({
                type: "GET",
                dataType: "json",
                url: "http://localhost:5294/dashboard/userdata",
                success: function (data) {
                    console.log(data);
                    const xValues = data.marks;

                    new Chart("myChart", {
                        type: "line",
                        data: {
                            labels: xValues,
                            datasets: [{
                                data: [860, 1140, 1060, 1060, 1070, 1110, 1330, 2210, 7830, 2478],
                                borderColor: "red",
                                fill: false
                            }, {
                                data: [1600, 1700, 1700, 1900, 2000, 2700, 4000, 5000, 6000, 7000],
                                borderColor: "green",
                                fill: false
                            }, {
                                data: [300, 700, 2000, 5000, 6000, 4000, 2000, 1000, 200, 100],
                                borderColor: "blue",
                                fill: false
                            }]
                        },
                        options: {
                            legend: { display: false }
                        }
                    });
                }
            });
        })
    });
</script>