
<h2>Dashboard</h2>

<hr/>

 
<div class="row">
    <div class="md-col-4">@Html.Partial("BarChartView")</div>
    <div class="md-col-8">
        <div>@Html.Partial("PieChartView") Pie Chart</div>
    <div class="md-col-3">@Html.Partial("LineChartView") Line Chart</div>
</div>
