<h2>Line Chart</h2>
<label>Company Share prices data</label>

<div class="container">
    <div class="row">

        <div class="col-md-8">
            <table>
                <tr>
                    <td>Ravi Tambade</td>
                    <td>45000</td>
                </tr>
                <tr>
                    <td>Sachin Rane</td>
                    <td>45000</td>
                </tr>
                <tr>
                    <td>Jeevan Kulkarni</td>
                    <td>45000</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4"><img src="/images/line-chart.jpeg" height="100" width="100" /></div>

    </div>
</div>

