<h1>Dashboard</h1>
<hr/>


<div class="row">
    <div class="col-md-6">
        @Html.Partial("personal")
    </div>
    <div class="col-md-6">
        @Html.Partial(partialViewName: "professional")
    </div>

</div>